/* Fonts */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300);
@import url(https://fonts.googleapis.com/css?family=Vollkorn:400,700,400italic);

/* Main */

* {
  box-sizing: border-box;
  font-size: 16px;
}

body {
  background-color: #fefefe;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: #333;
  font-family: 'Vollkorn', serif;
  border: 2px solid black;
}

.page-container {
  display: relative;
  max-width: 800px;
}

main {
  max-width: 600px;
}

button.post-tag {
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 3px 6px;
  margin: 0 5px 0 0;
}

button.post-tag-on {
  background-color: #4CAF50;
}

button.post-tag-off {
  background-color: grey;
}

.location {
  font-weight: normal;
}

.day {
  margin: 10px 0;
  font-weight: bold;
}

.post {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-top: 2px;
  border-style: solid none none;
  border-color: rgb(255, 196, 0);
  margin: 10px 0;
  padding-top: 10px;
}

.post-title {
  font-weight: bold;
}

.post-distance {
  font-weight: bold;
}

.post-location {
  width: 100%;
  margin-top: 10px;
}

.post-category {
  font-weight: normal;
  margin-top: 10px;
}

.post-more {
  font-weight: normal;
  margin-top: 10px;
  padding-top: 3px;
}

article .title {
  font-weight: 500;
  font-family: 'Vollkorn', serif;
}

article .content {
  font-weight: 500;
  font-family: 'Open+Sans', sans-serif;
}

@media (max-width: 450px) {
  .weather-card .date,
  .weather-card .description {
    font-size: 0.9em;
  }
  .weather-card .current .icon {
    height: 96px;
    width: 96px;
  }
  .weather-card .current .visual {
    font-size: 3em;
  }
  .weather-card .future .oneday .icon {
    height: 32px;
    width: 32px;
  }
}