@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300);
@import url(https://fonts.googleapis.com/css?family=Vollkorn:400,700,400italic);
body {
  background-color: blueviolet;
  background-color: #fefefe;
  margin: 0px auto;
  padding: 0px;
  max-width: 900px;
  font-family: 'Vollkorn', serif;
  border2: 1px solid #ccc;
}

button.post-tag {
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 3px 6px;
  margin: 0 5px 0 0;
}

button.post-tag-on {
  background-color: #4CAF50;
}

button.post-tag-off {
  background-color: grey;
}

.content-container {
  display: relative;
}

main {
  max-width: 600px;
}

.location {
  font-weight: normal;
}

.day {
  margin: 10px 0;
  font-weight: bold;
}

.post {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-top: 2px;
  border-style: solid none none;
  border-color: rgb(255, 196, 0);
  margin: 10px 0;
  padding-top: 10px;
}

.post-title {
  font-weight: bold;
}

.post-distance {
  font-weight: bold;
}

.post-location {
  width: 100%;
  margin-top: 10px;
}

.post-category {
  font-weight: normal;
  margin-top: 10px;
}

.post-more {
  font-weight: normal;
  margin-top: 10px;
  padding-top: 3px;
}

article .title {
  font-weight: 500;
  font-family: 'Vollkorn', serif;
}

article .content {
  font-weight: 500;
  font-family: 'Open+Sans', sans-serif;
}